/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    text-align: center;
    margin: 0;
    padding: 2px;
}

h1 {
    color: darkcyan;
}

form {
    background: white;
    padding: 20px;
    margin: auto;
}

label {
    display: block;
    text-align: center;
    margin: 5px 0;
}

button {
    background-color:azure ;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
